* {
    font-family: "JetbrainsMono NFM", "Noto Sans CJK JP";
    margin-bottom: -1;
    margin-top: -1;
    border: none;
}

window#waybar {
    font-size: 14px;
    /* background-color: #121212; */
    background-color: transparent;
    color: #d0d0d0;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.steam {
    background-color: #171D25;
    border: none;
}
#workspaces button {
    color: #d0d0d0;
}

#workspaces button:hover {
    box-shadow: inset 0 -6px #d0d0d0;
}

#workspaces button.active {
    box-shadow: inset 0 -6px #d0d0d0;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-spotify {
    color: #1ED760;
}

#custom-spotify.Paused {
    color: #505050;
}

#custom-audiorelay.running {
    background-color: #eb4d4b;
}
